@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
:root{
}
/* 기본세팅 */
body *{
    font-family: 'Noto Sans KR', sans-serif;
    color: #4E4E4E;

}

main{
    display: flow-root;
}

section{
    position: relative;
    box-sizing: border-box;
    margin: 8px;
    width: 50px;
    height: 500px;
    border: 1px solid #C4C4C4;
    /* padding: 14px 20px 20px 20px; */
}


button{
    border: 0;
    width: 42px;
    height: 42px;
    background-color: transparent;
    margin: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}


button:hover{
    border: 0;
    width: 112px;
    height: 42px;
    background: #0074E9;
}

button{
    background-image: url("img/button.svg");
}

button:hover::before{
    content:"시작하기";
    color: white;
}

.CardLinkNormal h3{
    text-align: center;
}

.CardLinkNormal{
    float: left;
    height: 310px;
    width: 243px;
}

.CardLinkWide{
    width: 502px;
    height: 310px;
    font-size: 24px;
}

.wide_item{
    margin: 20px 28px;
    float: right;
}

.normal_item{
    position: absolute;
    top: 100px;
    left: 20px
}

.slogan{
    float: left;
}

.slogan img{
    position: absolute;
    top: 95px;
    left: 85px;
}

.slogan h3{
    position: absolute;
    top: 150px;
    left: 28px;
    padding: 0 30px;
}

.normal_slogan{
    position: absolute;
    top: 15px;
    left: 60px;
}

.normal_slogan h3{
    margin: 2px;
}