@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
.spoka * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

:root{
    --base-color: #FEFEFE;
    --primary-color: #24388D;
}

/* 숨기기 기능 */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  /* 초기화 */
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none; 
  }

  *::before,
  *::after{
    box-sizing: border-box;
  }

/* 태그 agent style 변경  */
  body{
    background-color: var(#24388D);
      background: url(images/background-web.png) no-repeat;
      background-size: cover;
      color: var(--base-color);
    } 
    
h2{
    color: var(--base-color);
text-align: center;
/* font-family: SpoqaHanSas; */
font-size: 36px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: -0.72px;
text-transform: uppercase;
}

input[type="checkbox"]:checked {
    background-color: white;
}

/* 메인 디자인 */
fieldset{
    border: none;
}

input[type="password"],
input[type="email"]{
    height: 1.5em;
    line-height: 1.5em;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--base-color);
    margin-top: 53px;
}

input::placeholder {
    color: transparent;
    text-indent: 3px;
    font-size: 1.3em;
    opacity: 1; /* Firefox */
  }

/* 로그인 */


.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in{
    height: 100vh;
    width: 580px;
    padding: 0;
    padding-top: 25%;
}

/* 로그인 문구 */
.greet{
    color: var(--unnamed, #FEFEFE);
text-align: center;
font-family: SpoqaHanSans;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0;
}

.eng-greet{
    font-size: 18px;
    letter-spacing: -0.36px;
}

.ko-greet{
    font-size: 12px;
    letter-spacing: -0.24px;
}

/* 로그인 폼 */
/* .sign-in-form{
    padding-top: 5%;
} */

.userEmail-input,
.userPwd-input{
    width: 99%;
}

label[class*='user']{
    /* color: var(--base-color); */
    position: relative;
    bottom: 25px;
    left: -43%;

    /* input 보다 뒤로 이동 */
    z-index: -1;
}

input[class*='user']:focus ~ label,
input[class*='user']:active ~ label{
    bottom: 50px;
}

input:focus,
input:active{
    color: var(--base-color);
}

input[class*='user']:focus::placeholder,
input[class*='user']:active::placeholder{
    color: #ccc;
    opacity: 70%;
}

span{
    display: inline;
    text-align: left;
}

.userEmail-input:valid{
    background: url(images/checkmark.svg) no-repeat 98% 50%;    
}

.userEmail-input:focus:invalid{
    background: url(images/warning.svg) no-repeat 98% 50%;
}

.userPwd-input:focus:invalid{
    background: url(images/warning.svg) no-repeat 98% 50%;
}


/* 이메일 기억하기 */
.check{
    padding-top: 5px;
    margin-top: 10px;
    display: block;
    text-align: left;
}

#checkId{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.sign-in,
.sign-in-heading{
    text-align: center;
}

.signin-content *{
    text-decoration: none;
    font-size: 20px;
    color: var(--primary-color);
}


/* checkbox 커스텀 */
.check input[type="checkbox"] {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;
    outline: none !important;
    border: 2px solid var(--base-color);
    vertical-align: middle;
}
.check input[type="checkbox"]::before {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
}
.check input[type="checkbox"]:checked {
    background-color: var(--base-color);
    color: black;
}
.check input[type="checkbox"]:checked::before {
    border-radius: 4px;
    transform: scale(1) translate(-50%, -50%)
}

/* 로그인 회원가입 버튼 */
.signin-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.signinB{
    width: 48%;
    height: 48px;
    background-color: var(--base-color);
    border: 1px solid var(--base-color);
    border-radius: 8px;
    margin-bottom: 10px;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signupA{
    color: var(--base-color);
    border: 1px solid var(--base-color);
    border-radius: 8px;

    font-weight: 600;

    width: 48%;
    height: 48px;
    line-height: 48px;
    display: inline-block;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.signin-content *::before{
    content: 'dk';
    color: transparent;
}

.signin-content *::after{
    content: '' url(images/arrow.svg);
    float: right;
    padding-right: 10px;
}

/* media */
@media screen and (max-width: 600px){
    body{
        background-image: url(images/background-mobile.png);
    }
    .signin-content *{
        width: 100%;
    }
}

/* @media screen and (min-width: 600px){
    body{
        background: url(images/background-web.png);
    }
} */