/* 숨기기 기능 */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  /* 초기화 */
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none; 
  }

  /* 메인 디자인 */
body{
    background-color: #24388D;
    background-image: url(images/background-mobile.png);

    color: white;
} 

/* 로그인 */


.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in{
    height: 100vh;
    width: 580px;
    padding: 0;
    padding-top: 25%;
}

.sign-in-form{
    background-color: yellow;
}

.userEmail-input,
.userPwd-input{
    width: 99%;
}

.check-id{
    padding-top: 5px;
}

#checkId{
    margin-left: 0;
    margin-right: 0;
}

.sign-in,
.sign-in-heading{
    text-align: center;
}

.check-id{
    display: block;
    text-align: left;
}

.button-li-items{
    display: inline;
}

/* media */
@media screen and (max-width: 600px){
    body{
        background-image: url(images/background-mobile.png);
    }
    .login-content *{
        width: 100%;
    }
}

/* @media screen and (min-width: 600px){
    body{
        background: url(images/background-web.png);
    }
} */