/* 변수 */
:root{
--base-color: #757575;
}
/* 기본 설정 */
body, body *{
    box-sizing: border-box;
}

/* style */
.header{
    background-color: pink;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.25rem 4rem;
}

.lang-select{
    background-color: transparent;
    width: 113px;
    height: 40px;
    border-color: var(--base-color);
    border-radius: 5px;
    
}
