/* 변수 */
:root{
    --primary-color: #e50914;
    --base-color: white;
    --background-color : #010101;
    --footer-color: #757575;
}

/* 초기화 */
ul{
    list-style-type: none;
    padding-left: 0;
}

a{
    text-decoration: none;
}

/* 기본 설정 */
body, body *{
    box-sizing: border-box;
    color: var(--base-color);
    letter-spacing: -1.5px;
}


/* style */
body{
    background: image-set(url(/assets/img/background.png) 1x, url(/assets/img/backgroundx2.png) 2x, url(/assets/img/backgroundx3.png) 3x),
    linear-gradient(to bottom, rgba(0,0,0), rgba(0,0,0,0.9) 20%, rgba(0,0,0)40%);
}

/* 헤더 */
.header{
    /* background-color: pink; */
    height: 6.25rem;
    padding:1.25rem 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.lang-select{
    background-color: transparent;
    width: 113px;
    height: 40px;
    border-color: var(--base-color);
    border-radius: 5px;
}

.signin{
    padding: 12px 20px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--base-color);
    font-weight: 700;
    margin-left: 1.5em;
}

/* 메인 */
.main {
    /* background-color: wheat; */
    width: 100%;
    height: 33.25rem;
    margin-bottom: 9.1875rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}


/* 푸터 */
.footer{
    padding-top: 2.875rem;
    box-shadow: 0 -2px 2px 0 var(--footer-color);
    background-color: var(--background-color);
}

.container{
    width: 76.1vw;
    margin: 0 auto;
}

.container *{
    color: var(--footer-color);
}

.footer >p {
    margin-top: 0;
}

.footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

/* 브레이크 포인트 */
/* 타블렛 */
@media (max-width:1280px){
.header{
    padding: 1.25rem 1.5rem;
}
}
/* 모바일 */
@media (max-width:768px){

}