@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

/* 변수 */
:root{
    --primary-color: #e50914;
    --base-color: white;
    --background-color : #010101;
    --footer-color: #757575;
}

/* 초기화 */
h1{
    margin: 0;
}
ul{
    list-style-type: none;
    padding-left: 0;
}

a{
    text-decoration: none;
}

/* 기본 설정 */
html{
    font-size: 16px;
}
body, body *{
    font-family: 'Spoqa Han Sans';
    box-sizing: border-box;
    color: var(--base-color);
}


/* 공통 style */
body{
    background: image-set(url(/assets/img/background.png) 1x, url(/assets/img/backgroundx2.png) 2x, url(/assets/img/backgroundx3.png) 3x),
    linear-gradient(to bottom, rgba(0,0,0), rgba(0,0,0,0.9) 20%, rgba(0,0,0)40%);
}

h1{
    font-size: 3.75rem;
}

.lang-select{
    color: var(--footer-color);
    appearance: none;
    background: url(/assets/svg/icon-global.svg) no-repeat 10% 50%, url(/assets/svg/icon-arrow.svg) no-repeat 90% 50%;
}

.lang-select option{
    text-align: center;
}

/* 헤더 */
.header{
    /* background-color: pink; */
    height: 6.25rem;
    padding:1.25rem 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.lang-select{
    background-color: transparent;
    width: 113px;
    height: 40px;
    border-color: var(--base-color);
    border-radius: 5px;
}

.signin{
    padding: 12px 20px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--base-color);
    font-weight: 700;
    margin-left: 1.5em;
}

/* 메인 */
.main {
    width: 100%;
    height: 33.25rem;
    margin-bottom: cal(9.1875rem-28px);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}

.main *{
    margin: 0;
    margin-bottom: 28px;
}

.promo-text{
    font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 30px */
letter-spacing: -0.01px;
margin-bottom: 0;
display: inline;
}

.subscription-form{
    margin: 0 30px 28px 30px;
}

.subscription-form h3{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: -0.008px;
    padding: 0 10%;

}

.subscription-form input{
    width: 31.25rem;
    height: 24px;
    padding: 18px 20px;
    margin-bottom: 0;
}

.email-input{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.email-input button{
    background-color: var(--primary-color);
    border: 0;
    margin: 0;
    width: 170px;
    height: 40px;
}

.email-input button::after{
    content: ''url(/assets/svg/button-arrow-stroke.svg) ;
    padding-left: 10px;
}

/* 푸터 */
.footer{
    padding-top: 2.875rem;
    padding-bottom: 3.125rem;
    box-shadow: 0 -2px 2px 0 var(--footer-color);
    background-color: var(--background-color);
}

.container{
    width: 76.1%;
    margin: 0 auto;
}

.container *{
    color: var(--footer-color);
}

.tel{
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
}

.footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    line-height: 2em;   
}

.netflix-korea{
    font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 26.4px */
}
.copy-text{
    font-weight: 700;
line-height: 150%; /* 24px */
letter-spacing: -0.008px;
}

/* 브레이크 포인트 */
/* 타블렛 */
@media (max-width:1280px){
    /* 헤더 */
    .header{
        padding: 1.25rem 1.5rem;
    }
/* 메인 */
    h1{
        font-size: 34px;
    }

    .promo-text{
        font-size: 18px;
    }

/* 푸터 */
    .footer-container{
        width: 90%;
    }

    .footer ul{
        grid-template-columns: 1fr 1fr 1fr;

    }
}
/* 모바일 */
@media (max-width:480px){
    /* 헤더 */
    .signin{
        margin-left: 5px;
    }

    /* 메인 */
    .subscription-form h3{
        font-size: 14px;
        padding: 0;
    }
    
    .promo-text{
        display: block;
    }

    .email-input{
        display: flex;
        flex-flow: row wrap;
        gap: 15px;
        margin-bottom: 0;
    }

    .email-input *{
      border-radius: 15px;
    }

    /* 푸터 */
    .footer ul{
        grid-template-columns: 1fr 1fr;
    }
}